@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #ffffff;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button,
button:active {
  background-color: rgb(201, 176, 245);
  border: none;
  width: 21px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.1em 0.1em rgb(139, 105, 201);
  -webkit-box-shadow: 0.1em 0.1em rgb(139, 105, 201);
  -moz-box-shadow: 0.1em 0.1em rgb(139, 105, 201);
}

button:focus {
  translate: 0.1em 0.1em;
  box-shadow: 0.1em 0.1em rgb(174,124,217) inset;
  -webkit-box-shadow: 0.1em 0.1em rgb(174,124,217) inset;
  -moz-box-shadow: 0.1em 0.1em rgb(174,124,217) inset;
}

/* Clock Body */

.clock-container {
  background-color: rgb(237, 225, 252); 
  width: 175px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 5px rgb(182, 231, 252);
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 35px;
  text-align: center;
  background-color: rgb(163, 175, 201);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px rgb(128, 143, 176) inset;
}

#display-controls {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 12.5px;
  text-align: center;
  padding-top: 1px;
  background-color: rgb(163, 175, 201);
  border-radius: 5px;
  height: 20px;
  flex: 2;
  box-shadow: 1.5px 1.5px rgb(128, 143, 176) inset;
}

#timer-ssr {
  flex: 1;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70px;
  height:30px;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  border: 1px solid rgb(135, 87, 186);
  padding: 5px;
  border-radius: 5px;
  width: 24%;
}

.timer-length {
  font-size: 1em;
}

.break-container,
.inc-arrow {
  margin-right: 6px;
}
